# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints
*/*/.ipynb_checkpoints
*/*/*/.ipynb_checkpoints

# Apple Desktop Services Store
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store

# Folders And Files To Ignore
data
models
torchserve/model_archive/detectron2_model.pth
torchserve/model_store/severstal_detectron2.mar
